.centerbutton{
    text-align: center;
}
.wellcomettle{
    padding-bottom: 30px;
}
.lastparagraph{
    padding-bottom: 7px;
}
span{
    font-weight: bold;
}
footer{
    text-align: center;
}
a{
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}